absl-py==0.13.0
aiohttp==3.6.3
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
blinker==1.4
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
cloudpickle==1.6.0
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.24
decorator==5.0.7
deepdiff==5.2.3
docopt==0.6.2
enum34==1.1.10
exceptiongroup==1.0.4
Flask==2.0.0
flatbuffers==20210226132247
future==0.18.2
gast==0.4.0
gevent==21.1.2
gfootball==2.10.2
gitdb==4.0.5
GitPython==3.1.14
google-auth==1.33.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.36.1
gym==0.11.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==3.10.0
iniconfig==1.1.1
ipython==7.23.1
ipython-genutils==0.2.0
itsdangerous==2.0.0
jedi==0.18.0
Jinja2==3.0.0
joblib==1.0.1
jsonpickle==1.5.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib==3.3.4
matplotlib-inline==0.1.2
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.3
mpyq==0.2.5
multidict==4.7.6
munch==2.5.0
numpy==1.20.1
oauthlib==3.1.1
olefile==0.46
opencv-python==4.5.3.56
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.9
pandas==1.2.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.0.1
pluggy==0.13.1
portpicker==1.3.1
probscale==0.2.4
prompt-toolkit==3.0.18
protobuf==3.15.6
psutil==5.9.4
ptyprocess==0.7.0
py==1.10.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==1.9.6
pyglet==1.5.0
Pygments==2.9.0
PyJWT==2.1.0
pymongo==3.11.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySC2==3.0.0
PySocks==1.7.1
pytest==7.2.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s2clientprotocol==5.0.6.83830.0
s2protocol==5.0.6.83830.0
sacred==0.8.2
sacredboard==0.4.2
scikit-learn==1.0
scipy==1.6.2
seaborn==0.11.1
setuptools==52.0.0.post20210125
simplejson==3.17.2
six==1.15.0
sk-video==1.1.10
sklearn==0.0
SMAC==1.0.0
smmap==3.0.5
snakeviz==2.1.0
tensorboard==1.14.0
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.6.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tf-slim==1.1.0
threadpoolctl==3.0.0
toml==0.10.2
tomli==2.0.1
torch==1.7.1
torchvision==0.8.2
tornado==6.1
tqdm==4.61.2
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth==0.2.5
websocket-client==0.58.0
Werkzeug==2.0.0
wheel==0.38.4
whichcraft==0.6.1
wrapt==1.12.1
xlrd==1.2.0
yarl==1.6.3
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
